<h2>Add employee</h2>
<!-- <section>
	<form>
		

		<ul>
			<li>
				<label for="name">Class</label>
				<input type="text" ng-model="name" placeholder="i.e., Stan Stellar..." name="name" required>
			</li>

			<li>
				<label for="title">Week</label>
				<input type="text" ng-model="title" placeholder="i.e., collections supervisor..." name="title" required>
			</li>

			<li>
				<label for="email">Assignment</label>
				<input type="email" ng-model="email" placeholder="i.e., example@myemail.com..." name="email" required>
			</li>

			<li>
				<label for="mobile">Due</label>
				<input type="dateTime" ng-model="mobile" placeholder="i.e., +1310.806.3877..." name="mobile" required>
			</li>

			<li>
				<input type="submit" name="submit" ng-click="addnewTask()">
			</li>
		</ul>

	</form>
	
	<article ng-repeat="emp in employees track by $index">
		<h3>{{ emp.name }}</h3>
		<button ng-click="fireEmployees($index)">x</button>
		<h4>{{ emp.title }}</h4>
		<p>{{ emp.email }}</p>
		<p>{{ emp.mobile }}</p>
	</article>
	
</section>
<button ng-click="cleansHouse()">reset</button>-->